<h1>This is my amazing app to keep track of people</h1>
<p>Follow any links on the top menu to explore what you can do</p>

<style>
h1 {
  display: flex;
  justify-content: center;
  font-family: helvetica;
}
p {
}
</style>
