
<link rel="stylesheet" type="text/css" href="people.scss">
<ul>

<li><a><%= link_to 'Home', root_path %></a></li>
<li><a><%= link_to 'New Person', new_person_path %></a></li>
<li><a><%= link_to 'People', people_path %></a></li>

</ul>


<style>


</style>